.org__support-title {
  font-family: "Pribambas", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin: 0 0 75px 0;
}

@media (max-width: 1239px) {
  .org__support-title {
    margin-bottom: 60px;
  }
}
