@font-face {
    font-family: "Pribambas";
    src: url("./Pribambas-Regular.woff2") format("woff2"),
    url("./Pribambas-Regular.woff") format("woff"),
    url("./Pribambas-Regular.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}