.lead__timing {
    font-family: "Calibri", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 80px;
    letter-spacing: -0.005em;
    color: #A95099;
    max-width: 449px;
    text-align: center;
    margin-top: 0;
}