.project__button {
    width: 422px;
    height: 87px;
    background-color: #FA8E5A;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.005em;
    color: #001185;
    margin-bottom: 50px;
}