.lead__title {
  font-family: "Pribambas", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: calc((100vw - 368px) / (1240 - 368) * (48 - 24) + 24px);
  line-height: calc((100vw - 368px) / (1280 - 368) * (48 - 24) + 24px);
  /*font-size: 48px;*/
  /*line-height: 48px;*/
  letter-spacing: -0.005em;
  color: #001185;
  margin: 50px 0;
  text-align: center;
}
