.lead__title {
    font-family: "Pribambas", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #001185;
    margin: 50px 0;
    text-align: center;
}