.footer__copyright {
  margin: 0;
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.005em;
}

@media (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 35px;
  }
}
