.footer__copyright {
  margin: 0;
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 18px;*/
  /*line-height: 22px;*/
  font-size: calc((100vw - 320px) / (1240 - 320) * (18 - 14) + 14px);
  line-height: calc((100vw - 320px) / (1240 - 320) * (22 - 17) + 17px);
  letter-spacing: -0.005em;
}

@media (max-width: 767px) {
  .footer__copyright {
    /*margin-bottom: 35px;*/
    order: 3;
  }
}
