.lead__button {
  font-size: calc((100vw - 368px) / (1240 - 320) * (24 - 18) + 18px);
  line-height: calc((100vw - 368px) / (1280 - 320) * (29 - 22) + 22px);
  letter-spacing: -0.005em;
  color: #001185;
  background-color: #fa8e5a;
  width: calc((100vw - 320px) / (1240 - 320) * (370 - 245) + 245px);
  height: calc((100vw - 320px) / (1240 - 320) * (70 - 50) + 50px);
  margin-bottom: 40px;
}

/*@media (max-width: 368px) {*/
/*  .lead__button {*/
/*    width: 245px;*/
/*    height: 50px;*/
/*  }*/
/*}*/
