.lead__dates {
    font-family: "Pribambas", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.005em;
    color: #001185;
    margin: 0 0 50px 0;
}