.footer__wrapper {
  min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__wrapper {
    flex-direction: column;
    min-height: 205px;
    justify-content: center;
  }
}
