.lead__subtitle {
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 24px;*/
  font-size: calc((100vw - 368px) / (1240 - 368) * (24 - 14) + 14px);
  line-height: calc((100vw - 368px) / (1280 - 368) * (29 - 17) + 17px);
  /*line-height: 29px;*/
  text-align: center;
  max-width: 650px;
  color: #001185;
  margin-bottom: calc((100vw - 320px) / (1240 - 320) * (50 - 43) + 43px);
}
