.footer__mail {
    text-decoration: none;
    color: black;
    font-family:'Calibri', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc((100vw - 320px) / (1240 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (1240 - 320) * (22 - 17) + 17px);
    letter-spacing: -0.005em;
}

.footer__mail:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer__mail {
        margin-bottom: 35px;
        order: 1;
    }
}