.project__more {
  margin-top: 8px;
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 14px;*/
  font-size: calc((100vw - 320px) / (1240 - 320) * (14 - 12) + 12px);
  line-height: calc((100vw - 320px) / (1240 - 320) * (17 - 15) + 15px);
  /*line-height: 17px;*/
  letter-spacing: -0.005em;
  text-decoration: none;
  color: black;
  display: inline-flex;
  /*margin-left: 16px;*/
  margin-left: calc((100vw - 320px) / (1240 - 320) * (16 - 10) + 10px);
}
