.project__about {
  margin: 0;
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  /*font-size: 24px;*/
  font-size: calc((100vw - 320px) / (1240 - 320) * (24 - 14) + 14px);
  line-height: calc((100vw - 320px) / (1240 - 320) * (29 - 17) + 17px);
  /*line-height: 29px;*/
  letter-spacing: -0.005em;
}
