.org__partners-title {
  font-family: "Pribambas", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc((100vw - 320px) / (1240 - 320) * (36 - 24) + 24px);
  line-height: calc((100vw - 320px) / (1240 - 320) * (36 - 36) + 36px);
  letter-spacing: 0.02em;
  margin: 0 0 75px 0;
}
