.about__paragraph {
    font-family: "Calibri", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.02em;
    max-width: 925px;
    text-align: center;
    margin: 0 0 63px 0;
}

.about__paragraph:nth-of-type(3) {
    margin: 0;
}