.button {
    font-family: "Calibri", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}