.header__item {
  margin-right: 60px;
  text-decoration: none;
}

.header__item:nth-child(5) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .header__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Pribambas", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 0;
  }
  .header__item:hover {
    /*background-color: #cfd8dc;*/
  }
}
